/* ==================== HEADER ==================== */

header {
    height: 40vh;
    padding: 1.5rem;
}

/* ========== Navigation ========== */

#header-nav {
    display: flex;
    justify-content: space-between;
}

#logo-txt-my {
    margin-bottom: 0.7rem;
}

#logo-svg-container {
    position: relative;
    overflow: hidden;
}

#logo-svg-sticker {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-base);
}

/* ==================== MAIN ==================== */

main {
    padding: 1.5rem;
}

/* ========== Projects ========== */

#projects-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;
    flex-wrap: wrap;
    /* border: 5px solid white;     */
    margin: 0 auto;
}

.project-card-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
    border: 2px solid var(--secondary-base);
}

.project-thumbnail {
    width: 100%;
    height: 200px;
    object-fit: fill;
}
