/* ==================== GLOBAL STYLES ==================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    visibility: hidden;
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    color: var(--secondary-base);
    background-color: var(--primary-base);
    overflow: auto;
    scrollbar-width: none;
}

/* ==================== COMPONENTS ==================== */



/* ==================== SECTIONS ==================== */


/* ---------- Navigation ---------- */