:root {
    /* FONT SIZE */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2em;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* LINE HEIGHT */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacing-tight: -2px;

    /* FONT FAMILY */
    --font-family: "Oswald", sans-serif;

    /* COLORS */

    --bg-dark: oklch(0.16 0 0);
    --bg: oklch(0.18 0 0);
    --bg-light: oklch(0.25 0 0);
    --text: oklch(0.9 0 0);
    --text-muted: oklch(0.6 0 0);
    --border: 1px solid oklch(0.3 0 0);
    --border-card: 1px solid var(--bg);
    --gradient: linear-gradient(0deg, var(--bg) 90%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --highlight: oklch(0.7 0 0);
    --shadow: 0px 2px 2px oklch(0 0 0 / 0.07), 0px 4px 4px oklch(0 0 0 / 0.35);

    --primary-base: black;
    --primary-tint: #d0ebff;
    --primary-shade: #1c7ed6;

    /* MISC */
    --nav-height: 100px;
}

body.light {
    --bg-dark: oklch(0.85 0 0);
    --bg: oklch(0.9 0 0);
    --bg-light: oklch(0.95 0 0);
    --text: oklch(0.15 0 0);
    --text-muted: oklch(0.4 0 0);
    --border: 1px solid oklch(0.3 0 0);
    --border-card: 1px solid var(--bg);
    --gradient: linear-gradient(0deg, var(--bg) 90%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --highlight: oklch(1 0 0);
    --shadow: 0px 2px 2px oklch(0 0 0 / 0.07), 0px 4px 4px oklch(0 0 0 / 0.15);
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    line-height: var(--line-height-normal);
    font-weight: var(--font-weight-normal);
    color: var(--text-muted);
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text);
}

h1 {
    font-size: var(--text-h1);
}

h2 {
    font-size: var(--text-h2);
}

h3 {
    font-size: var(--text-h3);
}

h4 {
    font-size: var(--text-h4);
}

h5 {
    font-size: var(--text-h5);
}

h6 {
    font-size: var(--text-h6);
}

a {
    color: var(--secondary-base);
    text-decoration: none;
}

p {
    font-size: var(--text-paragraph);
}

ul {
    list-style: none;
}